

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que el título baje si no hay espacio */
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #d1d1d1;
  gap: 15px;
  padding: 10px; /* Añadido para que no pegue a los bordes */
}

  .banner h1 {
    color: #f5b50a;
    margin: 10px 0; /* Ajustado */
  }

.logo {
  height: 160px;
  max-width: 100%; /* No se sale de la pantalla */
  object-fit: contain;
}

.main-content {
  
  /* Mantenemos el form en 350px y la tabla en el resto */
  grid-template-columns: 350px 1fr;
  gap: 100px;
  padding: 40px 20px;

  width: 95%; /* O el ancho total que prefieras para el bloque */
  margin: 0 auto; /* Centra el bloque main-content respecto al body */

  align-items: start;
}

@media (max-width: 900px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .logo {
    height: 100px; /* Reducción necesaria para móviles */
  }

  .banner {
    justify-content: center;
    text-align: center;
  }
}

.footer {
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #d1d1d1;
  color: #f5b50a;
}
